<header class='c-header'>
  <a href='#main-content' class='c-skip-to-content'>{{t 'Skip to content' }}</a>
  <a id="header" href='#' class='u-hidden-visually'>Top</a>

  <div class='o-grid'>
    <div class='o-grid__col'>
      <div class='c-header__inner'>
        <div class='c-logo'>
          {{#if @site.logo}}
            <a href='{{ @site.url }}'>
              <img class='c-logo__img' src='{{ @site.logo }}' alt='{{ @site.title }}' width='' height=''>
            </a>
          {{else}}
            <a class='c-logo__link' href='{{ @site.url }}'>{{ @site.title }}</a>
          {{/if}}
        </div>

        <div class='c-nav-wrap'>
          <ul class='c-nav o-plain-list'>
            {{ navigation }}
            {{#if @member}}
            <!-- JJ removed 12-15-21
              <li class='c-nav__item is-membership'><a href='{{ @site.url }}/account/' class='c-nav__link js-nav__link-membership'>{{t 'Account' }}</a></li>
              <li class='c-nav__item is-membership'><a href='#signout' class='c-nav__link' data-members-signout>{{t 'Log out' }}</a></li>
            -->
            {{else}}
            <!--
              <li class='c-nav__item is-membership'><a href='{{ @site.url }}/signin/' class='c-nav__link js-nav__link-membership'>{{t 'Log in' }}</a></li>
              <li class='c-nav__item is-membership'><a href='{{ @site.url }}/membership/' class='c-nav__link u-color-brand js-nav__link-membership'>{{t 'Membership' }}</a></li>
            -->
            {{/if}}
            <!-- JJ removed 12-15-21 {{> social-icons }}-->
          </ul>
        </div>

        <div class='js-nav-toggle c-nav-toggle'>
          <span class='c-nav-toggle__icon'></span>
        </div>
      </div>
    </div>
  </div>
</header>