<!doctype html>
<html lang='{{ @site.locale }}'>

{{> head }}

<body class='{{ body_class }}'>
  <div class='c-site-container'>
    {{> header }}

    {{!-- JJ added 1-4-22 --}}
    <section class="twoCol">

      <main id='main-content' class='o-wrapper'>
        {{{ body }}}
      </main>

      {{!-- JJ added 1-4-22  --}}
      {{> sidebar }}
      
    </section>

    {{> footer}}
  </div>

  <script src='{{ asset 'js/app.min.js' }}'></script>
  {{!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{asset "ghostHunter/dist/jquery.ghosthunter.js"}}"></script> --}}
  {{ ghost_foot }}
  
</body>
</html>