{{!< ../default}}

{{#if @member}}
  {{#contentFor 'title'}}{{t 'Premium Membership'}}{{/contentFor}}
{{else}}
  {{#contentFor 'title'}}{{t 'Subscribe to {siteTitle}' siteTitle=@site.title}}{{/contentFor}}
{{/if}}

{{#if @member.paid}}
  {{!-- Logged in or paying customer: Redirect home --}}
  <script>window.location = '{{@site.url}}';</script>
{{else if @member}}
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--center o-grid__col--3-4-m o-grid__col--2-3-l'>
      <div class='c-archive c-archive--no-border'>
        <h1 class='c-archive__title'>{{t 'Premium Membership'}}</h1>
        <p class='c-archive__description'>{{t 'Unlock full access to {siteTitle} and see the entire library of members-only content.' siteTitle=@site.title}}</p>
      </div>

      {{> membership-plans }}
    </div>
  </div>
{{else}}
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--center o-grid__col--3-4-m o-grid__col--2-4-l'>
      {{!-- Not logged in: Sign up --}}
      <div class='c-archive c-archive--no-border'>
        <h1 class='c-archive__title'>{{t 'Subscribe to {siteTitle}' siteTitle=@site.title}}</h1>
        <p class='c-archive__description'></p>
      </div>

      <div class='u-bg-gray u-border-radius u-p-32'>
        <form data-members-form='signup' class='c-subscribe-form c-subscribe-form--compact'>
          <div class='c-form-group'>
            <label for='subscribe-email-subscribe' class='u-hidden-visually'>{{t 'Your email address' }}</label>
            <input type='email' name='email' class='c-form-group__input' id='subscribe-email-subscribe' placeholder='{{t 'Your email address' }}' required data-members-email>
            <button type='submit' class='c-btn c-form-group__btn'>{{t 'Subscribe' }}</button>
          </div>

          <div class='c-alert c-alert--success'>{{t 'Please check your inbox and click the link to confirm your subscription.' }}</div>
          <div class='c-alert c-alert--invalid'>{{t 'Please enter a valid email address!' }}</div>
          <div class='c-alert c-alert--error'>{{t 'An error occurred, please try again later.' }}</div>
        </form>
        <p class='u-type-xs u-type-500 u-mt-16'>{{t 'Already have an account?' }} <a href='{{ @site.url }}/signin/' class='u-link'>{{t 'Log in' }}</a></p>
      </div>
    </div>
  </div>
{{/if}}