{{!< ../default}}

{{#contentFor 'title'}}{{t 'Log in to {siteTitle}' siteTitle=@site.title}}{{/contentFor}}

<div class='o-grid'>
  <div class='o-grid__col o-grid__col--center o-grid__col--3-4-m o-grid__col--2-4-l'>
    {{#if @member}}
      {{!-- Logged in: Redirect home --}}
      <script>window.location = '{{@site.url}}';</script>
    {{else}}
      {{!-- Not logged in: Signin form --}}
      <div class='c-archive c-archive--no-border'>
        <h1 class='c-archive__title'>{{t 'Log in to {siteTitle}' siteTitle=@site.title}}</h1>
        <p class='c-archive__description'></p>
      </div>

      <div class='u-bg-gray u-border-radius u-p-32'>
        <form data-members-form='signin' class='c-subscribe-form c-subscribe-form--compact'>
          <div class='c-form-group'>
            <label for='subscribe-email-signin' class='u-hidden-visually'>{{t 'Your email address' }}</label>
            <input type='email' name='email' class='c-form-group__input' id='subscribe-email-signin' placeholder='{{t 'Your email address' }}' required data-members-email>
            <button type='submit' class='c-btn c-form-group__btn'>{{t 'Send login link' }}</button>
          </div>

          <div class='c-alert c-alert--success'>{{t 'Please check your inbox and click the link to complete the login.' }}</div>
          <div class='c-alert c-alert--invalid'>{{t 'Please enter a valid email address!' }}</div>
          <div class='c-alert c-alert--error'>{{t 'An error occurred, please try again later.' }}</div>
        </form>
        <p class='u-type-xs u-type-500 u-mt-16'>{{t "Don't have an account yet?"}} <a href='{{ @site.url }}/membership/' class='u-link'>{{t 'Subscribe'}}</a></p>
      </div>
    {{/if}}
  </div>
</div>